.firstLevel {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;
	align-items: center;
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondLevel {
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
	text-transform: uppercase;
	color: var(--gray-dark);
	cursor: pointer;
}

.secondBlock {
	margin: 15px 0 12px 15px;
	padding-left: 32px;
	border-left: 1px solid #DFDFDF;
}

.secondLevelBlockOpen:last-of-type {
	margin-bottom: 20px;
}

.thirtLevel {
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	color: var(--gray-dark);
	cursor: pointer;
}

.thirdLevelActive,
.thirtLevel:hover {
	color: var(--primary);
}

@media (max-width: 765px) {

}